services:
  taskey:
    # GEBRUIK DE LOKAAL GEBOUWDE IMAGE
    image: ghcr.io/s4ndyp/taskey:beta
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      # Poort 80 (Nginx Frontend) is extern toegankelijk
      - "80:80"       
      # Optioneel: Poort 3001 voor debugging van de upload server
      - "3001:3001"   
    volumes:
      # Koppel de lokale 'uploads' map. Dit is cruciaal voor persistentie.
      # Binnen de container is het pad /app/uploads
      - ./uploads:/app/uploads
